#welcome{
    background: transparent;
}

#welcome > h1{
    padding-top: 13px;
    margin: 7px;
    font-size: 4vh;
    text-align: center;
    color: #0f0e30;
    background-clip: text;
}

#welcome > p{
    text-align: justify;
}
